{{#each languages}}
  <div id="{{this}}" class="hide lang_group">
    <h4 class="f3 black-70">{{this}}</h4>
    <ul class="list pl0 ml0 center ba b--black-10 br1 mb4 pb0">
    </ul>
  </div>
{{/each}}
