{{#each topics}}
<div id="{{#eq this 'C++'}}Cplusplus{{else}}{{this}}{{/eq}}" class="hide">
  <h4 class="f3 black-70">{{this}}</h4>
  <ul class="list pl0 ml0 center ba b--black-10 br1 mb4 pb0 bg-black-05 pt0">
    <li class="issue--item h3 pv3 bb b--black-10">
      <div>
        <div class="fl w-50 w-75-l r-iblock pl4">
          <div class="r-iblock one-line w-100">
          </div>
        </div>
        <div class="fl w-50 w-25-l r-iblock">
          <div class="fl w-50 r-iblock tc">
            Difficulty
          </div>
          <div class="fl w-50 r-iblock tc">
            Skill
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
{{/each}}